{% extends "basic_temp.html" %}

{% block content %}
<!--
<center>
	<h2>word: {{mystring}} </h2>
</center> -->
	<div class ="container text-center">
	<h1> Apple </h1>
	<hr>
	</div>

<script type="text/javascript">

	//Width and height
			var w = 1000;
			var h = 500;
			
			var colors = d3.scale.category20();
d3.json("{{ url_for ('static', filename= 'result.json' )}}", function(data){console.log(data);});

var dataset = {
  "nodes":[
                { "name": "Emotion", "x":500, "y":400, "fixed":"true"},
                { "name": "Amusement"},
                { "name": "Angry" },
                { "name": "Compassion" },
                { "name": "Contempt" },
                { "name": "Disappointment" },
                { "name": "Admiration" },
                { "name": "Disgust" },
                { "name": "Fear" },
                { "name": "Guilt" },
                { "name": "Hate" },
                { "name": "Interest" },
                { "name": "Joy" },
                { "name": "Love" },
                { "name": "Pride" },
                { "name": "Regret" },
                { "name": "Relief" },
                { "name": "Sadness" },
                { "name": "Pleasure" },
                { "name": "Shame" },
                { "name": "Shame" }
  ],
  "links":[
                { "source": 0, "target":1,"value":10},
                { "source": 0, "target":2,"value":200},
                { "source": 0, "target":3,"value":200},
                { "source": 0, "target":4,"value":200},
                { "source": 0, "target":5,"value":200},
                { "source": 0, "target":6,"value":200},
                { "source": 0, "target":7,"value":300},
                { "source": 0, "target":8,"value":100},
                { "source": 0, "target":9,"value":300},
                { "source": 0, "target":10,"value":300},
                { "source": 0, "target":11,"value":300},
                { "source": 0, "target":12,"value":200},
                { "source": 0, "target":13,"value":200},
                { "source": 0, "target":14,"value":200},
                { "source": 0, "target":15,"value":200},
                { "source": 0, "target":16,"value":200},
                { "source": 0, "target":17,"value":200},
                { "source": 0, "target":18,"value":200}
                { "source": 0, "target":19,"value":200}
  ]
};
// initialising force layout
var force = d3.layout.force()
                     .nodes(dataset.nodes)
                     .links(dataset.edges)
                     .size([w, h])
                     .linkDistance(function(d){return d.value;})
                     .charge([-600])           
                     .start();
var svg = d3.select("#emotionWheel").append("svg").attr("width",w).attr("height",h);
// create an SVG line for each edge
var edges = svg.selectAll("line")
        .data(dataset.edges)
        .enter()
        .append("line")
        .style("stroke", "#ccc")
        .style("stroke-width", 1);
// create an SVG circle for each node
var nodes = svg.selectAll("g")
        .data(dataset.nodes)
        .enter()
        .append("g");
		
nodes.append("circle").attr("r", 18).style("fill", function(d, i) {return colors(i);}).call(force.drag);

nodes.append("text").attr("x",20).attr("dy",".35em").text(function(d) {return d.name;});
		
force.on("tick", function() {edges.attr("x1", function(d) { return d.source.x; })
     .attr("y1", function(d) { return d.source.y; })
     .attr("x2", function(d) { return d.target.x; })
     .attr("y2", function(d) { return d.target.y; });

//nodes.attr("cx", function(d) { return d.x; })
    // .attr("cy", function(d) { return d.y; });
	
	nodes.attr("transform", function(d){
		return "translate("+d.x +","+ d.y +")";}
	);
	 


});

	</script>
<center>
<div class ="container text-center">
<button type ="button" class="btn btn-primary text-center"> Further analysis </button>
</div>
</center>

{% endblock %}