{% extends "basic_temp.html" %}

{% block nav %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
		<h3 style="color:white;">FACEBOOK</h3>
	  </div>
	</nav>	
	
		<div id="tooltip" class="hidden">
        <p><strong><span id="emotion">Emotion information</span></strong></p>
        <p><span id="value">100</span></p>
		</div>
{% endblock %}

{% block content %}
<!--
<center>
	<h2>word: {{mystring}} </h2>
</center> -->
	
<body>
    <div><h1> Correlation Table</h1></div>
	<div id="chart-container"></div>
</body>

	<script type="text/javascript">
	var dataset;

//Define bar chart function 
	function barChart(dataset){	

		//Set width and height as fixed variables
		var w = 800;
		var h = 800;
		var padding = 20;

		//Scale function for axes and radius
		var yScale = d3.scale.linear()
						.domain(d3.extent(dataset, function(d){return d.correlation;}))
						.range([w+padding,padding]);

		var xScale = d3.scale.ordinal()
						.domain(dataset.map(function(d){ return d.emotion;}))
						.rangeRoundBands([padding,h +padding],.5);

		//Create y axis
		var yAxis = d3.svg.axis().scale(yScale).orient("left").ticks(10);
		
		var xAxis = d3.svg.axis().scale(xScale).orient("bottom");

		//Define key function
		var key = function(d){return d.emotion};

		//Define tooltip for hover-over info windows
		var div = d3.select("body").append("div")   
  							.attr("class", "tooltip")               
  							.style("opacity", 0);

		//Create svg element
		var svg = d3.select("#chart-container").append("svg")
				.attr("width", w).attr("height", h)
				.attr("id", "chart")
				.attr("viewBox", "0 0 "+w+ " "+h)
				.attr("preserveAspectRatio", "xMinYMin");


		//Create barchart
		svg.selectAll("rect")
			.data(dataset, key)
			.enter()
		  	.append("rect")
		    .attr("class", function(d){return d.correlation < 0 ? "negative" : "positive";})
		    .attr({
		    	x: function(d){
		    		return xScale(d.emotion);
		    	},
		    	y: function(d){
		    		return yScale(Math.max(0, d.correlation)); 
		    	},
		    	width: xScale.rangeBand(),
		    	height: function(d){
		    		return Math.abs(yScale(d.correlation) - yScale(0)); 
		    	}
		    })
		    .on('mouseover', function(d){
							d3.select(this)
							    .style("opacity", 0.2)
							    .style("stroke", "black")
					
					var info = div
							    .style("opacity", 1)
							    .style("left", (d3.event.pageX+10) + "px")
							    .style("top", (d3.event.pageY-30) + "px")
							    .text(d.emotion +" "+d.correlation);})
        				.on('mouseout', function(d){
        					d3.select(this)
							.style({'stroke-opacity':0.5,'stroke':'#a8a8a8'})
							.style("opacity",1);

							div
	    						.style("opacity", 0);
        				});

		//Add y-axis
		svg.append("g")
				.attr("class", "y axis")
				.attr("transform", "translate(30,0)")
				.call(yAxis);
			
		
	};

	//Load data and call bar chart function 
		d3.csv("{{ url_for ('static', filename= 'Companies/$FB/$FB_CT.csv' )}}", function(error,data){
				if(error){
					console.log(error);
				}
				else{
					data.forEach(function(d) {
						d.correlation = parseFloat(d.correlation);
					});
					dataset=data;
					barChart(dataset);
				}
			});
	</script>

{% endblock %}